// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
//capy colors
$capy-blue: #00ccff;
$capy-blue-shade: #00AAD4;
$capy-azure: #007BFF;
$capy-candy-blue: #002BFF;
$capy-green: #00FF89;
$capy-pink: #FF005A;
$capy-orange: #FF4E00;
$capy-yellow: #FFE900;
$capy-black: #141516;
