<div>
  <h1> All cameras locally </h1>
  <button type="button" class="btn btn-dark"><%= link_to "Add Listing", new_camera_path%></button>

  <button type="button" class="btn btn-dark"><%= link_to "Back to home", root_path%></button>
</div>

<div class="card-container">
  <div class="card">
    <div class="image">
      <%= cl_image_tag("canon_5d_mkiv_xgj7xz", width: 300, height: 300, crop: :fill) %>
    </div>
    <div class="details-container">
      <div class="title"></div>
      <div class="description"></div>
    </div>
  </div>
</div>
